.gameResult {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: flex_start;
  border-radius: 6px;
  border: 2px solid #56638A;
  margin: 3vh;
  background-color: #56638A;
  color: whitesmoke
}

.gameResult div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-container :hover{
  box-shadow: 5px 4px #483A58;
}

.cover {
  width: 16vw;
  height: fit-content;
  margin-right: 1vw;
}


.writeup article{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#platforms {
  display: flex;
  border-top: 1px solid #E9D2F4;
  color: whitesmoke;  
  justify-self: flex-end;
}