@import '../../../public/scss_styles/style';

article.gameResult {
  @include box($dark);
  display: flex;
  width: 90%;
  flex-direction: row;
  border: 4px solid $dark;
  justify-content: flex_start;
  margin: 3vh;
  color: $text-color;
  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  div.information{
    article{
      font-family: $body-font;
      h4{
        font-family: $title-font;
        font-weight: 620;
      }
      @include box($light);
      
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    width: 100%;
    @include box($grey);
    border: 4px solid $grey
  }
}



.cover {
  @include game-cover;
  width: 16vw;
  height: fit-content;
  margin: 1vw;
}



#platforms {
  display: flex;
  @include box($light);
  padding: 3px;
  justify-self: flex-end;
}