@import "../../../public/scss_styles/style";

ul.topReviews {
  div.headers {
    font-family: $heading-font;
    color: gold;
    margin: 0.8em 1%;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $primary-grey;
    margin-right: 6.5vw;
    margin-left: 1.5vw
  }
}
div.reviews {
  display: flex;
  div.headers {
    width: 87%;
    font-family: $heading-font;
    color: gold;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $primary-grey;
  }
}

.allReviewsBox {
  display: flex;
  flex-direction: column;

  @include box($dark);
  height: fit-content;

  .singleReviewBox {
    @include box($grey);
    padding: 1em 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .reviewContent {
      @include box($light);
      font-family: $body-font;
      padding: 1em;
      margin: 1em 0em;
    }
  }
}

.reviewInfo {
  width: 75%;
  @include flex-article;
  justify-content: space-between;
  div.userName {
    font-family: $user-font;
    a {
      transform: scale(3);
      text-decoration: none;
      color: $light-blue;
    }
  }
}

.gameDisplay {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  img.homePageReviewGameCover {
    @include game-cover(9.5vw);
  }
  div {
    a {
      display: flex;
      flex-direction: column;
      align-self: center;
      color: $text-color;
      text-decoration: none;
    }
  }
}

.ratings {
  border-top: solid 1px $line;
  padding-top: 1vh;
  display: flex;
  flex-direction: row;
}

.rating {
  margin-right: 1.5em;
}

.ratingStars {
  margin-right: 1.5em;
  color: $apricot;
}

.titleOfReviewedGame {
  font-family: $title-font;
  display: flex;
}
