div {
  .featured {
    display:flex; 
    justify-content: space-around;
    align-items: center;
    padding: 3vw;
    height: fit-content;
    a {
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }
}
