@import "../../../public/scss_styles/style";

div.gameBox {
  margin:auto;
  width: 264px;
  position: relative;
}

.gameBox:hover .overlay{
  opacity: 0.7;
}

img.gameBox {
  width: 100%;
  border-radius: 5%;
  border-color: #212529;
  border-style: solid;
  border-width: 1px;
}

div.overlay {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  height: 70%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 5%;
}

div.gameStats {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

p {
  white-space: nowrap;
}

