@import "../../../public/scss_styles/style";

div.homePageTopUsers {
  margin: 15px 15px;
  background-color: $grey;
  padding: 0.5em 1em;
  border-radius: 1.5vw;
}


#usericon {
  width: 30px;
  height:auto;
  border-radius: 50%;
}

.userName{
  text-decoration: none;
  font-family: $user-font;
  color: $light-blue;
}