@import "../../../public/scss_styles/style";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@keyframes going {
  from {transform: translateY(0%)}
  to {transform: translateY(-130%)}
}

@keyframes coming{
  0% {transform: translateY(100%)}
  100% {transform: translateY(0%)}
}

div.home-intro-heading{
  font-family: 'Black Ops One', cursive;
  color: gold;
  margin: 0em 6em;
  display: flex;
  flex-direction: column;
  // height: 66vh;
  .title-line-left{
    overflow: hidden;
    display: flex;
    width: 100%;
    .word-holder{
      font-size: 5em;
    }
  }
  .title-line-right{
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
    height: 15em;
    .coming{
      animation-name: coming;
      animation-duration: 1s;
    }
    .going{
      animation-name: going;
      animation-duration: 3s;
    }
    .word-holder{
      font-size: 5em;
    }
  }
}
