$text-color: whitesmoke;
$primary-grey: #56638A;

$light: #EDF2F4;
$grey: #8D99AE;
$dark: #2B2D42;
$apricot: #FFC6AD;
$light-blue: #90FCF9;

@mixin game-cover { 
  width: 16vw;
  height: fit-content;
  border-radius: 5%;
}

@mixin game-cover-feature { 
  width: 20vw;
  height: fit-content;
  border-radius: 5%;
}

@mixin flex-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-article-footer {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}

@mixin flex-spaced-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}