@import "../../public/scss_styles/style";

body{
  background: linear-gradient($dark, $grey)
}
div.main-container{
  margin: 3vw;
  background-color: $dark;
  border-radius: 1.5vw;
}
div.game-info {
  @include flex-spaced-row;
  div {
    @include margin-ratio;
  }
  div.cover {
    justify-self: flex-start;
    .cover-img {
      @include game-cover;
    }
  }
  div.game-details {
    @include box;
    width: 80%;
    color: $text-color;
    div.top {
      display: flex;
      justify-content: space-between;
      border-bottom: 4px solid $grey;
      h4{
        align-self: flex-end;
        margin-bottom: 0;
      }
    }
  }
  div.user-game-interactions {
    @include flex-article;
    @include box;
    width: 10%;
    Button.btn{
      @include flex-article-footer;
    }
  }
}

div.carousel{
  @include margin-ratio;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  div.carousel-item-start{
    display: flex;
    justify-content: center;
  }
  img{
    border-radius: 1.5vw;
  }
}
