@import "../../public/scss_styles/style";

div.game-info {
  @include flex-spaced-row;
  margin: 3vw;
  background-color: $dark;
  border-radius: 1.5vw;
  div {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  div.imgGallery {
    justify-self: flex-start;
    .gallery-img {
      @include game-cover;
    }
  }
  div.game-details {
    @include box;
    width: 80%;
    div.top {
      @include flex-article;
      h2 {
        border-bottom: 4px solid $grey;
      }
    }
  }
  div.user-game-interactions {
    @include flex-article;
    @include box;
    width: 10%;
    Button.btn{
      @include flex-article-footer;
    }
  }
}
