@import "../../public/scss_styles/style";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


div.home-body {
  top: 220px;
  display: flex;
  flex-direction: column;
  transform: translateY(-11em);
  .featured {
    z-index: 2;
    padding-top: 50px;
    margin: auto;
    width: 75%;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .homePageGamesTitle {
    
    height: fit-content;
    text-align: center;
    width: 100%;
  }
  
  .topReviews {
    @include box($dark);
    width: 70%;
    height: auto;
    @include margin-ratio;
  }
  .topUsers {
    @include box($dark);
    width: 20%;
    height: auto;
    list-style-position: inside;
    padding-left: 0;
    @include margin-ratio;
  }
  .topReviewsUsers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .headers {
      font-family: $heading-font;
      color: gold;
      margin: 0.8em 1%;
      margin-bottom: 0.8em;
      font-size: 30px;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $primary-grey;
    }
  }
}

div.loadingSpinner {
  margin-top: 400px;
  margin-left: 50%;
}
