div.featured {
  padding-top: 150px;
  margin: auto;
  width: 75%;
  height: 265px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

div.homePageGamesTitle {
  padding-top: 100px;
  text-align: center;
  width: 100%;
}

