@import "../../public/scss_styles/style";


div.home-body {
  position: absolute;
  top: 220px;
  .featured {
    z-index: 2;
    padding-top: 50px;
    margin: auto;
    width: 75%;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .homePageGamesTitle {
    
    height: fit-content;
    text-align: center;
    width: 100%;
  }
  
  .topReviews {
    @include box($dark);
    width: 53%;
    height: auto;
    @include margin-ratio;
  }
  .topUsers {
    @include box($dark);
    width: 20%;
    height: auto;
    list-style-position: inside;
    padding-left: 0;
    @include margin-ratio;
  }
  .topReviewsUsers {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

div.loadingSpinner {
  margin-top: 400px;
  margin-left: 50%;
}
