@import "../../public/scss_styles/style";

div.home-intro-heading{
  display: flex;
  flex-direction: column;
  color: pink;
  padding-top: 56px;
  height: 66vh;
  .title-line-left{
    background-color: orange;
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: -8%;
    margin-bottom: -8%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: left;
  }
  .title-line-right{
    background-color: orange;
    
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: -8%;
    margin-bottom: -8%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: right;
  }
}

div.home-body {
  .featured {
    z-index: 2;
    padding-top: 50px;
    margin: auto;
    width: 75%;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
  .homePageGamesTitle {
    
    height: fit-content;
    text-align: center;
    width: 100%;
  }
  
  .topReviews {
    @include box($dark);
    width: 53%;
    height: auto;
    @include margin-ratio;
  }
  .topUsers {
    @include box($dark);
    width: 20%;
    height: auto;
    @include margin-ratio;
  }
  .topReviewsUsers {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
