.reviews-and-following {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .reviews {
    width: 70%;
  }
  .following {
    width: 15em;
    border-radius: 1.5vw;
    background-color: #2B2D42;
    height: auto;
    list-style-position: inside;
    padding-left: 0;

  }
}
@import '../../public/scss_styles/style';

div.userPageReviews{
  display: flex;
  flex-direction: column;
  align-items: center;
}

