@import "../../public/scss_styles/style";

.reviews-and-following {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .reviews {
    @include box($dark);
    width: 70%;
    height: auto;
    @include margin-ratio;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .following {
    @include box($dark);
    width: 15em;
    border-radius: 1.5vw;
    background-color: #2B2D42;
    height: auto;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    @include margin-ratio;
    .headers {
      font-family: $heading-font;
      color: gold;
      margin: 0.8em 15px;
      padding-bottom: 2.17vh;
      font-size: 30px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid $primary-grey;
    }
    div.homePageTopUsers{
      a{
        text-decoration: none;
        font-family: $user-font;
        color: $light-blue;
      }
    }
  }
  .headers {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Black Ops One', cursive;
    color: gold;
  }
}

div.userPageReviews{
  display: flex;
  flex-direction: column;
  align-items: center;
}

