@import '../../../public/scss_styles/style';

section.search{
  margin: 5vh;
  display: flex;
  justify-content: center;
  input.radius{
    width: 400px;
    border: 3px solid $light;
    background-color: $light;
    border-radius: 2vw;
  }
}